
.masterDiv {
    display: flex;
    justify-content: center;
    overflow-x: hidden !important;
    overflow-y: hidden;
    
}
.titleBox {
    top: 500px;
    position: absolute;
}
body::-webkit-scrollbar {
    display: none;
    
  
  }
.jumpgameBox {
    width: 1000px;
    height: 450px;
   border-bottom: solid 4px green;
    text-align: center;
    color: white;
    
}

.player {
    height: 100px;
    width: 100px;
   background-image: url('./pictures/dino.png');
   background-size: 100% 100%;
    top: 350px;
    position: absolute
}
.powerUp {
    background-color: purple
}
.jump{
    animation: jump 0.45s linear;
}
@keyframes jump{
    0%{top: 250px;}
    30%{top: 150px;}
    70%{top: 150px;}
    100%{top: 250px;}
}
.enemy {
    height: 80px;
    width: 80px;
    top: 380px;
background-image: url('./pictures/asteroid.png');
background-size: 100% 100%;
    animation: enemyPath 3s infinite linear;
    position: absolute;
    z-index: 3;
}
.fire {
    height: 90px;
    width: 90px;
    top: 340px;
background-image: url('./pictures/fire.gif');
background-size: 100% 100%;
    animation: enemyPath 3s infinite linear;
    position: absolute;
    z-index: 2;
}
.stop {
    animation: none;
}
@keyframes enemyPath{
    0%{left: 2000px}
    100%{left: -20px}
}
.score {
    color: white;
    font-size: 3.5vh;
}
.start {
    font-size: 4vh;
    color: white;
}