
.masterDiv {
    display: flex;
    justify-content: center;
    overflow-x: hidden !important;
}

.jumpgameBox {
    width: 1000px;
    height: 450px;
   border: solid 2px green;
    text-align: center;
    color: white;
    
}

.player {
    height: 100px;
    width: 100px;
   background-image: url('./pictures/dino.png');
   background-size: 100% 100%;
    top: 350px;
    position: absolute
}
.powerUp {
    background-color: purple
}
.jump{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 250px;}
    30%{top: 150px;}
    70%{top: 150px;}
    100%{top: 250px;}
}
.enemy {
    height: 80px;
    width: 80px;
    top: 380px;
background-image: url('./pictures/asteroid.png');
background-size: 100% 100%;
    animation: enemyPath 4s infinite linear;
    position: absolute
}
@keyframes enemyPath{
    0%{left: 1500px}
    100%{left: -20px}
}
.score {
    color: white;
}